<section class="jumbotron">
  <div class="container">
    <h1 class="display-3">New Device Category</h1>
    <div class="float-right">
      <%= link_to 'Back', device_categories_path, class:"btn btn-secondary btn-lg" %>
    </div>
  </div>
</section>

<div class="container">

<%= render 'form' %>

</div>