<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4"><%= @device_category.name %></h1>
      </div>
    </div>
    <div class="float-right">
      <%= link_to 'Edit', edit_device_category_path, class:"btn btn-info btn" %>
      <%= link_to 'Back', device_categories_path, class:"btn btn-secondary btn" %>
    </div>
  </div>
</section>